.element__like {
    height: 19px;
    width: 22px;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    padding-bottom: 1px;
}

.element__like:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}
