.page {
    /* min-width: 320px; */
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0px;
    min-height: 100vh;
} 
