.popup__container_type_edit {
    max-width: 430px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 34px 36px;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .popup__container_type_edit {
        padding: 0px;
        width: 282px;
    }
}