.info {
    display: grid;
    grid-template-columns: 294px 24px;
    grid-template-rows: 39px 18px;
    width: 336px;
    align-items: baseline;
    column-gap: 18px;
    row-gap: 16px;
    margin-left: 30px;
}

@media (max-width: 900px) {
    .info {
        margin-left: 26px;
        grid-template-columns: 189px 24px;
        grid-template-rows: 26px 14px;
        column-gap: 10px;
        row-gap: 14px;
    }
}
@media (max-width: 600px) {
    .info {
        max-width: 282px;
        grid-template-columns: 189px 18px;
        margin: 26px auto 0px;
        width: fit-content;
    }
}